src/main/mule/global.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5c409705-13d2-4dcc-a6e0-d5999ea92425" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="transformJson" doc:id="58f04d2e-ea94-498a-b9a3-eda95220d01b">
		<ee:transform doc:name="Transform Message" doc:id="6b84d689-f564-40c9-9ca3-d97a291052ab">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
/* by right clicking / set metadata / choose type json in the dropbox
 * / choose example in the drop down box / choose the json file
 * dataweve will create a schema automatically as per the example
 */ 
output application/json
var x = 5
fun isFive(y) = if (y == 5) 1 else 0
---
{
	dateWithUTCTime: now() as Date {format: "yyyy-MM-dd'T'00:00:00'Z'"},
	dateWithUTCTime2: '2019-02-02'  as Date as Date {format: "yyyy-MM-dd'T'00:00:00'Z'"},
	timeWithMilliseconds: now() as Time { format: "HH:mm:ss.SSS'Z'" },
	timeWithMilliseconds2: '08:30' as Time as Time { format: "HH:mm:ss.SSS'Z'" },
	varFromFunction: isFive(x),
	name: payload.name // comes from the example set
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="globalFlow" doc:id="ebabfd05-3913-4e55-ade4-68bd134c2c36" >
		<http:listener doc:name="Listener" doc:id="20f5d11a-4a40-4f47-a7bd-3e59f24d9b94" config-ref="HTTP_Listener_config" path="api/*"/>
		<set-payload value='#["This is a test to set the payload"]' doc:name="Set Payload" doc:id="7f1fc910-3fd7-4c5b-88e8-2851eb59c6de" />
	</flow>
</mule>
