src/main/mule/global.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5c409705-13d2-4dcc-a6e0-d5999ea92425" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="globalFlow" doc:id="ebabfd05-3913-4e55-ade4-68bd134c2c36" >
		<http:listener doc:name="Listener" doc:id="20f5d11a-4a40-4f47-a7bd-3e59f24d9b94" config-ref="HTTP_Listener_config" path="api/*"/>
		<set-payload value='#["This is a test to set the payload"]' doc:name="Set Payload" doc:id="7f1fc910-3fd7-4c5b-88e8-2851eb59c6de" />
	</flow>
</mule>
